.layout-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.layout-main {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease, padding-left 0.3s ease;
  margin-left: 250px; /* Sidebar width when expanded */
}

.layout-container.sidebar-collapsed .layout-main {
  margin-left: 80px; /* Sidebar width when collapsed */
}

.sidebar-toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .layout-main {
    margin-left: 0;
  }

  .layout-container.sidebar-collapsed .layout-main {
    margin-left: 0; /* Ensure no margin on small devices */
  }
}
